<!DOCTYPE html>
<h1>This is secret page</h1>
  
<img src=
"https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210420155809/gfg-new-logo.png">
  
<h1>This is home page</h1>
  
<li><a href="/api/v1/user/api/v1/user/register">Sign up!!</a></li>
<li><a href="/api/v1/user/api/v1/user/login">Login</a></li>
<li><a href="/api/v1/user/api/v1/user/logout">Logout</a></li>